<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>http://iqra1:8080/fedora/objects</comment>
<entry key="fedoraserver">http://loghati.amuser-qstpb.com/fedora/objects</entry>
<entry key="fedoraDC">/datastreams/DC/content</entry>
<entry key="fedoraRELS">/datastreams/RELS-EXT/content</entry>
<entry key="TTSWAVFOLDER">/projects/workspace/alto/WebRoot/test</entry>
</properties>